h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

img {
    object-fit: cover;
}

.content-section {
  background: #ffffff;
  border: 1.5px solid #bbbbbb;
  -webkit-box-shadow: 4px 9px 20px -4px rgba(0,0,0,0.37);
  -moz-box-shadow: 4px 9px 20px -4px rgba(0,0,0,0.37);
  box-shadow: 4px 9px 20px -4px rgba(0,0,0,0.37);
  justify-content: center;
  padding-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  margin-top: 10px;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

@media (max-width: 575px)
{
    .content-section {
       margin: -15px;
    }
}

#please-register:hover {
    font-weight: bold;
    text-decoration: none;
}

@media (max-width: 991px)
{
    #min_date {
        margin-bottom: 20px;
    }
    #max_date {
        margin-bottom: 0px;
    }
}

.btn {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
 }

.btn-lang {
    background: #C8EDA8;
    border-radius: 8px;
    font-size: 1.0rem;
    cursor: pointer;
}

.btn-lang:hover {
    text-shadow: -0.06ex 0 #000000, 0.06ex 0 #000000;
    background: #F1D8BB;
}

.btn-db {
    background: #0b61bc;
    color: #ffffff;
}

.btn-lb {
    background: #5BA9FC;
    color: #ffffff;
}

.btn-lb:hover {
    background: #5BA9FC;
    color: #2c3779;
    font-weight: bold;
}

.btn-b {
    background: #3590F0;
    color: #ffffff;
}

.btn-b:hover, .btn-db:hover {
    background: #2c3779;
    color: #ffffff;
    font-weight: bold;
}

.btn-delete {
    background: #f35335;
    color: #ffffff;
}

.btn-delete:hover {
    background: #b53219;
    color: #ffffff;
}

.btn-back {
     background: #777777;
     color: #ffffff;
 }

.btn-back:hover {
 background: #444444;
 color: #ffffff;
}

.btn-update {
 background: #3380d1;
 color: #ffffff;
}

.btn-update:hover {
 background: #2c3779;
 color: #ffffff;
}

#learn-set {
    margin-left:18px;
    margin-right: 24px;
}

.message {
    background-color: #dddddd;
    color: #000000;
    padding: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    letter-spacing: 2px;
    border-radius: 10px;
}

.alert-custom {
    border-radius: 10px;
    text-align: center;
    letter-spacing: 2px;
}

table a {
    letter-spacing: 1.5px;
    word-spacing: 4px;
}

.btn-learn {
    background: #5ba9fc;
    letter-spacing: 1px;
    border: none;
    max-width: 100%;
    color: #ffffff;
  }
  
.btn-learn:hover {
    background: #3590f0;
    color: #ffffff;
    font-weight: bold;
}

.warning {
    background-color: #f8bdb1;
    padding: 10px 10px 5px 5px;
    margin-bottom: 20px;
    border-radius: 10px;
  }

  .page-link {
    margin-left: 0px;
    cursor: pointer;
  }
  