h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

img {
    object-fit: cover;
}

header img{
    display: block;
    margin: 0 auto 0 auto;
}


.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
  font-weight: bold;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: bold;
}

.content-section {
  background: #ffffff;
  border: 1.5px solid #bbbbbb;
  -webkit-box-shadow: 4px 9px 20px -4px rgba(0,0,0,0.37);
  -moz-box-shadow: 4px 9px 20px -4px rgba(0,0,0,0.37);
  box-shadow: 4px 9px 20px -4px rgba(0,0,0,0.37);
  justify-content: center;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.nav-img {
    height: 60px;
    width: 60px;
    margin-right: 0;
    margin-bottom: 5px;
}

.navbar-brand img {
    height:50px;
}

.card {
    -webkit-box-shadow: 4px 9px 20px -4px rgba(0,0,0,0.37);
    -moz-box-shadow: 4px 9px 20px -4px rgba(0,0,0,0.37);
    box-shadow: 4px 9px 20px -4px rgba(0,0,0,0.37);
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 2px;
}

@media (max-width: 575px)
{
    .navbar-brand img {
        height: 40px;
    }
    .content-section {
       margin: -15px;
    }
}

@media(max-width: 991px)
{
    .nav-img {
           display: none;
        }
}

.dropdown-menu {
    background-color: #ffffff;
    color: #000000 !important;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)!important;
    margin-top: 0px !important;
    width:100% !important;
}

.dropdown-item {
    color: #000000 !important;
 }

.dropdown-item:hover {
    background-color: #cccccc;
    color: #000000 !important;
 }

#grad {
    background-color: #5ba9fc;
    background-image: -webkit-radial-gradient(rgb(255, 255, 255), rgb(150, 200, 253));
    background-image: radial-gradient(rgb(255, 255, 255), rgb(91, 169, 252));
    color: #000000;
    border: none;
    letter-spacing: 4px;
    word-spacing: 4px;
}

#grad:hover {
    background-image: -webkit-radial-gradient(rgb(255, 255, 255), rgb(119, 182, 249));
    background-image: radial-gradient(rgb(255, 255, 255), rgb(53, 144, 240));
    text-shadow: -0.05ex 0 #000000, 0.05ex 0 #000000;
}

#please-register:hover {
    text-weight: bold;
    text-decoration: none;
}

.search-container {
    float: left;
    width: 100%;
}

.search-container input[type=text] {
  padding: 6px;
  font-size: 17px;
  border: none;
  background: #f2f2f2;
  float: left;
}

.search-container button {
  padding: 6px 12px;
  background: #dddddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
  float: left;
}

.search-container button:hover {
    background: #bbbbbb;
}

@media (max-width: 991px)
{
  .search-container {
    float: none;
  }
   .search-container input[type=text], .search-container button {
    text-align: left;
    margin: 0;
    padding: 6px 10px;
  }
}


#set_search, #set_filter{
  font-size: 18px;
  border: none;
  cursor: pointer;
  color: #000000;
  letter-spacing: 1px;
  word-spacing: 4px;
}

#set_filter{
    background: #dddddd;
}


#set_search{
    background: #eeeeee;
}

#set_search:hover, #set_filter:hover{
  background: #bbbbbb;
}

#lm {
    margin-left: 0px;
}

.filter button{
  padding: 6px 12px;
  background: #80c4fd;
  font-size: 17px;
  border: none;
  cursor: pointer;
  text-align: right;
}

.filter button:hover {
    background: #46a9fc;
}

.filter input[type=date] {
  padding: 6px;
  font-size: 17px;
  border: none;
  background: #bddefa;
}

@media (max-width: 991px)
{
    #min_date {
        margin-bottom: 20px;
    }
    #max_date {
        margin-bottom: 0px;
    }
}

/* Buttons */

.btn-lang {
    background: #C8EDA8;
    border-radius: 8px;
    font-size: 1.0rem;
    cursor: pointer;
}

.btn-lang:hover {
    text-shadow: -0.06ex 0 #000000, 0.06ex 0 #000000;
    background: #F1D8BB;
}

.btn-square {
    border-radius: 0;
}

.btn-learn {
    background: #5ba9fc;
    letter-spacing: 1px;
    border: none;
    width: 100%;
    color: #ffffff;
}

.btn-learn:hover {
    background: #3590F0;
    color: #ffffff;
    text-weight: bold;
}

.btn-db {
    background: #0b61bc;
    color: #ffffff;
}

.btn-g {
    background: #eeeeee;
    color: #000000;
}

.btn-lb {
    background: #5BA9FC;
    color: #ffffff;
}

.btn-lb:hover {
    background: #5BA9FC;
    color: #2c3779;
    font-weight: bold;
}


.btn-b {
    background: #3590F0;
    color: #ffffff;
}

.btn-b:hover, .btn-db:hover {
    background: #2c3779;
    color: #ffffff;
    text-weight: bold;
}

.btn-g:hover {
    background: #cccccc;
    color: #000000;
}

.btn-next {
    background: #dddddd;
    color: #000000;
}

.btn-previous {
    background: #eeeeee;
    color: #000000;
}

.btn-next:hover, .btn-previous:hover {
    background: #bbbbbb;
    color: #000000;
}

.btn-check {
    background: #3590F0;
    color: #ffffff;
}

.btn-check:hover {
    background: #3380d1;
    color: #ffffff;
}

.btn-not {
    background: #fc836d;
    color: #ffffff;
}

.btn-not:hover {
    background: #f35335;
    color: #ffffff;
}

.btn-yes {
    background: #77b6f9;
    color: #ffffff;
}

.btn-yes:hover {
    background: #3590F0;
}

.btn-delete {
    background: #f35335;
    color: #ffffff;
}

.btn-delete:hover {
    background: #444444;
    color: #ffffff;
}

.btn-back {
     background: #777777;
     color: #ffffff;
 }

.btn-back:hover {
 background: #444444;
 color: #ffffff;
}

.btn-add {
 background: #2337af;
 color: #ffffff;
}

.btn-add:hover {
 background: #2c3779;
 color: #ffffff;
}

.btn-update {
 background: #3380d1;
 color: #ffffff;
}

.btn-update:hover {
 background: #2c3779;
 color: #ffffff;
}

#learn-set {
    margin-left:18px;
    margin-right: 24px;
}

.message {
    background-color: #999999;
    color: #ffffff;
    padding: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    letter-spacing: 2px;
}

.alert-custom {
    border-radius: 0px;
    text-align: center;
    letter-spacing: 2px;
}

table a {
    letter-spacing: 1.5px;
    word-spacing: 4px;
}